<div class="row">
<div class="col-5">
    <h1 class="c-heading-4">Usefulness Rate</h1>
<div class="c-histogram">
    <div>
        <span>4.2</span>
        <div class="c-group">
            <div class="c-rating f-community-rated" itemscope itemtype="https://schema.org/Rating">
                <p class="x-screen-reader">
                    Rating: <span itemprop="ratingValue">4.2</span>/<span itemprop="bestRating">5</span>
                </p>

                <div aria-hidden="true">
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-half"></span>
                </div>
            </div>
            <span>239,986</span>
        </div>
    </div>
    <ul >
        <li>
            <a>
                5<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div >
                    <div aria-label="8% of users" style="width: 8%;">
                        <span>50922</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                4<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="28%  of users" style="width: 28%;">
                        <span >34103</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                3<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="34% of users" style="width: 34%;">
                        <span>86004</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                2<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="50% of users" style="width: 50%;">
                        <span>31650</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                1<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="17% of users" [ngStyle]="{'width.%': widthExp}" >
                        <span>37307</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
</div>
<div class="col-2"></div>
<div class="col-5">
<h1 class="c-heading-4">Engagement Rate</h1>
<div class="c-histogram">
    <div>
        <span>4.2</span>
        <div class="c-group">
            <div class="c-rating f-community-rated" itemscope itemtype="https://schema.org/Rating">
                <p class="x-screen-reader">
                    Rating: <span itemprop="ratingValue">4.2</span>/<span itemprop="bestRating">5</span>
                </p>

                <div aria-hidden="true">
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-full"></span>
                    <span class="c-glyph f-half"></span>
                </div>
            </div>
            <span>239,986</span>
        </div>
    </div>
    <ul >
        <li>
            <a>
                5<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div >
                    <div aria-label="8% of users" style="width: 8%;">
                        <span>50922</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                4<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="28%  of users" style="width: 28%;">
                        <span >34103</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                3<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="34% of users" style="width: 34%;">
                        <span>86004</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                2<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="50% of users" style="width: 50%;">
                        <span>31650</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                1<span class="c-glyph"></span><span class="x-screen-reader">Stars</span>
                <div>
                    <div aria-label="17% of users" [ngStyle]="{'width.px': widthExp}" >
                        <span>37307</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
</div>
</div>