<p>rating-count works!</p>
<div>
    
    <div class="row" style=" width: 100px; height: 10px;" >
        <p style="width: 1%; margin-top: 3px; padding-left: 10px; font-size: 6px;">5</p>
        <mat-progress-bar style="width: 50%; margin-top: 7px;" class="col-10" mode="determinate" value="80"></mat-progress-bar>
        <p style="width: 1%; margin-top: 3px; font-size: 6px; padding-left: 3px;">80</p>
    </div>


    <div class="row" style=" width: 100px; height: 10px;" >
        <p style="width: 1%; margin-top: 3px; padding-left: 10px; font-size: 6px;">4</p>
        <mat-progress-bar style="width: 50%; margin-top: 7px;" class="col-10" mode="determinate" value="60"></mat-progress-bar>
        <p style="width: 1%; margin-top: 3px; font-size: 6px;">60</p>
    </div>



    <div class="row" style=" width: 100px; height: 10px;" >
        <p style="width: 1%; margin-top: 3px; padding-left: 10px; font-size: 6px;">3</p>
        <mat-progress-bar style="width: 50%; margin-top: 7px;" class="col-10" mode="determinate" value="40"></mat-progress-bar>
        <p style="width: 1%; margin-top: 3px; font-size: 6px; padding-left: 3px;">40</p>
    </div>

    <div class="row" style=" width: 100px; height: 10px;" >
        <p style="width: 1%; margin-top: 3px; padding-left: 10px; font-size: 6px;">2</p>
        <mat-progress-bar style="width: 50%; margin-top: 7px;" class="col-10" mode="determinate" value="50"></mat-progress-bar>
        <p style="width: 1%; margin-top: 3px; font-size: 6px; padding-left: 3px;">50</p>
    </div>

    <div class="row" style=" width: 100px; height: 10px;" >
        <p style="width: 1%; margin-top: 3px; padding-left: 10px; font-size: 6px;">1</p>
        <mat-progress-bar style="width: 50%; margin-top: 7px;" class="col-10" mode="determinate" value="10"></mat-progress-bar>
        <p style="width: 1%; margin-top: 3px; font-size: 6px; padding-left: 3px;">10</p>
    </div>


</div>